@import url('https://fonts.googleapis.com/css2?family=BBH+Hegarty&display=swap');
@import 'tailwindcss';

h1 {
  font-size: 2.5rem;
  font-weight: bold;
  line-height: 2rem;
}

h2 {
  font-size: 2rem;
  line-height: 1;
  font-weight: bold;
}

p {
  font-size: min(1.2rem, 4vw);
  line-height: 1;
}
