:root {
  --base-100: #f7acb2;
  --base-200: #f1ecd3;
  --base-300: #f76b76;

}


.main {
  background-color: var(--base-100);
  font-family: 'BBH Hegarty', sans-serif;
  color: var(--base-200);

  .hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;

  }

  .spotlight {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 2rem;
    gap: 10rem;
    overflow: hidden;
    align-items: center;
    .row {
      z-index: 1;
      height: 100%;
      width: 100%;
      display: flex;
      gap: 2rem;
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
      .col {
        flex: 1;  
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        .textContainer {
          width: 70%;
          background-color: var(--base-300);
          border-radius: 1rem;
          padding: 1rem;      
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
      }

      .imageContainer {
        position: relative;
        width: 100%;
        height: 100%;
        .image {
          object-fit: contain;
        }
      }
    }
    &:nth-child(1) .imageContainer, &:nth-child(4) .imageContainer{
      height: 50vh;
      width: 70%;
    }
    }
    .svgContainer {
      height: 100%;
      width: 200%;
      position: absolute;
      top: 10vh;
    }
  }
}
// @media (max-width: 1000px) {
//   .row {
//     flex-direction: column;
//   }
// }