:root {
  --base-100: #f7acb2;
  --base-200: #f1ecd3;
  --base-300: #f76b76;
  --path-color: #e15b40;
}

.main {
  background-color: var(--base-100);
  font-family: 'BBH Hegarty', sans-serif;
  color: var(--base-200);
  overflow: hidden;

  .hero {
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    background-color: var(--path-color);
  }

  .spotlight {
    height: 100%;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: column;
    padding: 0 2rem;
    gap: 15rem;
    overflow: hidden;
    align-items: center;
    .row {
      z-index: 1;
      width: 100%;
      display: flex;
      gap: 2rem;
      &:nth-child(odd) {
        flex-direction: row-reverse;
      }
      .col {
        flex: 1;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        justify-content: center;
        align-items: center;
        .textContainer {
          width: min(60vw, 30rem);
          background-color: var(--base-300);
          border-radius: 1rem;
          padding: 2rem;
          display: flex;
          flex-direction: column;
          gap: 1.5rem;
        }

        .imageContainer {
          position: relative;
          width: 100%;
          height: min(60vw, 35rem);
          .image {
            object-fit: contain;
          }
        }
      }
      &:nth-child(1) .imageContainer {
        margin-top: 5rem;
        height: min(50vw, 35rem);
        width: 100%;
      }
      &:nth-child(4) .imageContainer {
        height: min(80vw, 40rem);
        width: 100%;
      }
    }
    .svgContainer {
      height: 120%;
      width: 100%;
      position: absolute;
      top: -40vh;
    }
  }
}
@media (max-width: 1000px) {
  .spotlight {
    .row {
      flex-direction: column;
      &:nth-child(odd) {
        flex-direction: column !important;
      }
    }
  }
}
